<div class="container_todos">
    <div class="header_todos">
        <h2>My Todos</h2>
    </div>
    <div class="body_todos">
        <div class="add_todos_content">
            <%= render 'form', todo: @todo %>           
        </div>
    </div>
    <ul>
        <% @todos.each do |todo| %>
            <li><%= todo.todos_content %></li>
        <% end %>
    </ul>
</div>
